<div class="personal-portfolio-banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="personal-portfolio-banner-content">
                    <span class="sub-title">Hello I'm</span>
                    <h1>Connor Fedalen</h1>
                    <h4>Software Engineer</h4>
                    <h4>Web Developer</h4>
                    <p>I've been a professional software engineer and web developer for years, and have been contracted with multiple Fortune 500 companies such as JP Morgan/Chase and Exelon.</p>
                    <button (click)="onClick('contact')" class="default-btn">
                        Connect With Me
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="personal-portfolio-banner-image">
                    <img src="assets/images/personal-portfolio/banner-profile.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="pp-shape1"><img src="assets/images/personal-portfolio/shape1.png" alt="image"></div>
</div>