<div id="skills" class="pp-skills-area pt-100 pb-70">
    <div class="container">
        <div class="section-title style-two">
            <h2>My Skills</h2>
            <p>These are the languages, libraries, and technolgies that I am most familiar with.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box">
                    <img src="assets/images/personal-portfolio/skills-img1.png" alt="image">
                    <h4>Angular</h4>
                    <div>Web Application Platform/Framework</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box bg-eaf6ff">
                    <img src="assets/images/personal-portfolio/skills-img2.png" alt="image">
                    <h4>JavaScript</h4>
                    <div>Common Web Dev. Programming Language</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box">
                    <img src="assets/images/personal-portfolio/skills-img4.png" alt="image">
                    <h4>Flutter</h4>
                    <div>Cross-Platform, Mobile Dev. Framework</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box bg-f0efff">
                    <img src="assets/images/personal-portfolio/skills-img5.png" alt="image">
                    <h4>PyTorch</h4>
                    <div>Machine Learning Library built on TensorFlow</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box bg-eaf6ff">
                    <img src="assets/images/personal-portfolio/skills-img3.png" alt="image">
                    <h4>Python</h4>
                    <div>Common Programming Language</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box bg-f0efff">
                    <img src="assets/images/personal-portfolio/skills-img6.png" alt="image">
                    <h4>Selenium</h4>
                    <div>Automated Testing and Task Automation Library</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box bg-eaf6ff">
                    <img src="assets/images/personal-portfolio/skills-img7.png" alt="image">
                    <h4>TypeScript</h4>
                    <div>Common Web Dev. Programming Language</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box bg-eaf6ff">
                    <img src="assets/images/personal-portfolio/skills-img8.png" alt="image">
                    <h4>Dart</h4>
                    <div>Google Client-Development Language</div>
                </div>
            </div>
        </div>
    </div>
</div>