<div id="clients" class="pp-partner-area ptb-100">
    <div class="container">
        <div class="section-title style-two">
            <h2>Companies I've Worked For</h2>
        </div>
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/partners/partner3.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="assets/images/partners/partner4.png" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>