<div id="services" class="pp-expertise-area pt-100 pb-70">
    <div class="container">
        <div class="section-title style-two">
            <h2>My Strengths</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon fa-solid fa-clone"></i>
                    <h3>Experience in a Professional Team Environment</h3>
                    <p>Have used Agile to work in both small and large teams in a professional coding environment.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-fff5e6 fa-solid fa-desktop"></i>
                    <h3>Web Design</h3>
                    <p>I designed this website myself, using Angular.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-f3f9e7 fa-brands fa-bandcamp"></i>
                    <h3>CSS & Graphic Design</h3>
                    <p>Not only have I designed and built my own website, but I have also made my own logo.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-ffefef fa-solid fa-bug"></i>
                    <h3>Unit & Automated Testing</h3>
                    <p>I am very proficient in unit testing with Karma and Jasmine in Angular. I can also use Selenium/Cucumber to implement automated testing as well.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-eaf6ff fa-solid fa-mobile-screen-button"></i>
                    <h3>App Design</h3>
                    <p>I can make and deploy apps to both iOS and Android using Google's "Flutter" framework.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-faf2ff fa-solid fa-laptop-code"></i>
                    <h3>Machine Learning</h3>
                    <p>I have a certification by IBM for Deep Learning. I primarily use PyTorch/TensorFlow, but can also work with other libraries like Keras.</p>
                </div>
            </div>
        </div>
    </div>
</div>