<div id="experience" class="short-brief-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="short-brief-content">
                    <div class="section-title style-two">
                        <h2>My Education</h2>
                    </div>
                    <ul class="timeline">
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">Penn State University - <span>2015-2020</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Bachelor's Degree</h3>
                                <h3>Information, Science, and Technology</h3>
                                <p>My degree taught me programming skills like C++ and Java. It also gave me enterprise-level knowledge like creating Visio diagrams and business proposals.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">IBM - <span>2021</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Certification in Deep Learning</h3>
                                <p>This certification program taught me how to use machine learning technology (mainly PyTorch) to process images and text. The program was also integrated with IBM's Watson Studio on the IBM Cloud, so I have familiarity on how to use that technology.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="short-brief-content">
                    <div class="section-title style-two">
                        <h2>My Experience</h2>
                    </div>
                    <ul class="timeline">
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">Exelon - <span>2022 - Present</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Azure DevOps Test Engineer</h3>
                                <p>Entailed maintaining an applications integrity as it was transitioned to a new platform.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">JP Morgan Chase & Co. - <span>2021</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Angular Developer</h3>
                                <p>Developed enterprise-level application using Angular. Specialized in both unit and automated testing. Also had to reverse engineer a proprietary design system that had no documentation in order to complete the project.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">eDocs Technologies - <span>2019</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Internship</h3>
                                <h3>AWS Integrator</h3>
                                <a href="https://www.edocstechnologies.com/">Website Link</a>
                                <p>My intership was a solo project that involved integrating Amazon Web Services with a document processing solution called DocuStar.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>