<!-- Default Footer -->
<footer
    class="footer-area"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <div
                        class="logo"
                    >
                        <a routerLink="/">
                            <img src="assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div
                        class="logo d-none"
                    >
                        <a routerLink="/">
                            <img src="assets/images/logo-white.png" alt="white-logo">
                        </a>
                    </div>
                    <p>I'm available for full-time, part-time, and contract work. </p>
                    <ul class="social-links">
                        <li>
                            <a href="https://www.linkedin.com/in/connor-f/" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="single-footer-widget pl-4">
                    <h3>Explore</h3>
                    <ul class="list">
                        <li>
                            <span (click)="onClick('home')">Home</span>
                        </li>
                        <li>
                            <span (click)="onClick('skills')">Skills</span>
                        </li>
                        <li>
                            <span (click)="onClick('portfolio')">Portfolio</span>
                        </li>
                        <li>
                            <span (click)="onClick('team')">Team</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>
                    <ul class="list">
                        <li class="nav-item">
                    <span class="nav-link" (click)="onClick('services')">Expertise</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" (click)="onClick('skills')">Skills</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" (click)="onClick('experience')">Education/Experience</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link" (click)="onClick('clients')">Past Employers</span>
                </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Get in Touch</h3>
                    <ul class="get-in-touch">
                        <li>
                            <span>Location:</span>
                            Avondale Pennsylvania, United States.
                        </li>
                        <li>
                            <span>Phone:</span>
                            <a href="tel:+17174461753">+1(717)-446-1753</a>
                        </li>
                        <li>
                            <span>Email:</span>
                            <a href="mailto:cfedalen@gmail.com">cfedalen@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div *ngIf="router.url === '/'; else elseBlock" class="container">
            <p>© This website was made by <span class="namespan" (click)="onClick('home')">Connor Fedalen</span></p>
        </div>
        <ng-template #elseBlock>
            <p>© This website was made by <span routerLink="/" class="namespan">
                Connor Fedalen
            </span></p>
        </ng-template>
        </div>
</footer>